<h4>name: {{name}}</h4>

<div class="col-md-6">
  <h2>shotAttempts from this Player</h2>
  <div>
    <br />

    <button classNames="btn btn-warning" {{action 'delete'}}>Delete Player</button>

    {{#link-to 'team' team classNames="btn btn-warning"}}Close Player Info{{/link-to}}

  </div>
  <div class="row">
    <div class='col-md-12'>
    {{#each shotAttempt in shotAttempts shotAttemptController="shotAttempt"}}
      <div class="shot well row">

        <div class='col-md-9'>
          <p>
            <span class="shot-info">score: {{shotAttempt.score}}</span><br>
          </p>
          <p>
            <span class="shot-info">shot: {{shotAttempt.shot}}</span><br>
          </p>
        </div>
      </div>
    {{/each}}
  </div>
</div>
    <p>{{#link-to 'new-shotAttempt' this class="btn btn-success"}}Take a shot!{{/link-to}}</p>

</div>
