<h1>Teams</h1>

<ul>
  {{#each team in model}}
  <li>{{#link-to 'team' team}}{{team.name}}{{/link-to}}</li>
  {{/each}}
</ul>

{{#link-to 'new-team' classNames="btn btn-primary"}}New Team{{/link-to}}
